.extra-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 10em;

  .extra-button {
    color: #fff;
    background-color: hsl(12, 88%, 59%);
    border-radius: 20px;
    padding: 0.5em 0.9em;
    font-weight: 700;
    margin-top: 1em;

    &:hover {
      background-color: hsl(12, 88%, 70%);
    }
  }
}
